:root {
    --background-color: rgb(39, 39, 39);
}

* {
    border: 1px solid cyan;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: white;
}

.sidebar {
    height: 100%;
}

.main {
    height: 100%;
}