:root {
    --background-color: rgb(154, 146, 146);
}

* {
    border: 1px solid cyan;
    color: white;
    background-color: var(--background-color);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 17px
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.del {
    fill: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    height: 100vh;
}

.sidebar {
    height: 100%;
}

.main {
    height: 100%;
}